$burger-height: 10px;
$burger-width: 16px;
$burger-color: #242424;
$burger-item: 2px;
$burger-item-offset: $burger-height - $burger-item * 2;
$burger-item-shadow: -1 * $burger-item - ($burger-item-offset - $burger-item) / 2;

.burger {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid $burger-color;
  border-radius: 12px;
}

.burger__input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: $burger-width;
  height: $burger-height;
  opacity: 0;

  @include max(991) {
    &:checked + .burger__decor::before {
      transform: translateY($burger-height / 2 - $burger-item * .5) rotateZ(45deg);
    }

    &:checked + .burger__decor::after {
      transform: translateY($burger-height / 2 - $burger-item * 1.5) rotateZ(-45deg);

      filter: initial;
    }
  }
}

.burger__decor {
  width: $burger-width;
  height: $burger-height;
  margin: auto;
  user-select: none;
  color: $burger-color;
  border-radius: $burger-item / 2;

  &::before,
  &::after {
    display: block;
    height: $burger-item;
    content: '';
    transition: .5s;
    border-radius: inherit;
    background: $burger-color;
  }

  &::after {
    transform: translateY($burger-item-offset);

    filter: drop-shadow(0 $burger-item-shadow $burger-color);
  }
}

.main-menu {
  .burger__input {
    & + .burger__decor::before {
      transform: translateY($burger-height / 2 - $burger-item * .5) rotateZ(45deg);
    }

    & + .burger__decor::after {
      transform: translateY($burger-height / 2 - $burger-item * 1.5) rotateZ(-45deg);

      filter: initial;
    }
  }
}
