.clinic-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 450px;
  padding: 30px;
  border: 2px solid #e9e9e9;
  border-radius: 20px;
  background: #fff;
}

/* begin HEADER */
.clinic-card__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.clinic-card__logo {
  img {
    max-width: 100%;
  }
}

.clinic-card__header-label {
  flex: none;
  margin-left: auto;
  padding: 4px;
  border-radius: 4px;

  span {
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    display: block;
    user-select: none;
    text-transform: uppercase;
    color: #6b6b6b;
  }
}

.clinic-card__header-label--new {
  background-color: #ffdaca;
}

/* end   HEADER */

.clinic-card__title {
  margin-bottom: 10px;
}

/* begin rating */
.clinic-card__rating {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.clinic-card__rating-icon {
  flex: none;
  margin-right: 8px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.clinic-card__rating-num,
.clinic-card__rating-link {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  display: block;
  padding-top: 2px;
}

.clinic-card__rating-num {
  color: #3d3d3d;
}

.clinic-card__rating-link {
  padding-left: 5px;
  color: #6b6b6b;

  &:hover {
    color: $brand;
  }
}

/* end   rating */

/* begin time */
.clinic-card__time {
  margin-bottom: 15px;
  border: 2px solid #e9e9e9;
  border-radius: 12px;
  background: #fff;
}

.clinic-card__time-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &:first-child {
    border-bottom: 1px solid #e9e9e9;
  }

  .cta {
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  svg {
    fill: #6b6b6b;
    width: 100%;
    height: 8px;
  }

  .body-s {
    padding: 0 20px;
    white-space: nowrap;
    color: #000;
  }
}

/* end   time */

/* begin info-2 */
.clinic-card__info-2 {
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9e9e9;
}

.clinic-card__info-2-item {
  display: flex;
  margin-bottom: 10px;

  span {
    width: 50%;

    &:last-child {
      text-align: right;
    }
  }
}

/* end   info-2 */

/* begin info */
.clinic-card__info {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
}

.clinic-card__info-item {
  display: flex;
  flex-direction: column;

  span {
    &:first-child {
      margin-bottom: 8px;
      color: #6b6b6b;
    }

    &:last-child {
      margin-bottom: 15px;
      color: #3d3d3d;
    }
  }
}

/* end   info */

.clinic-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.clinic-card__footer-date {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.clinic-card__footer-date-icon {
  flex: none;
  margin-right: 6px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.clinic-card__footer-date-text {
  font-size: 13px;
  padding-top: 1px;
  white-space: nowrap;
}

.clinic-card__time-and-date {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}
