.calendar-input,
.calendar-time-input,
.calendar-input-single {
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 23px;
    bottom: 0;
    width: 20px;
    height: 90%;
    margin: auto;
    content: '';
    pointer-events: none;
    background-color: #fff;
    background-image: url('../img/select-btn.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 16px 8px;
  }

  input {
    cursor: pointer;
  }
}

.daterangepicker {
  overflow: auto;
  width: 278px;
  max-height: 90vh;
  border: 2px solid #e9e9e9;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 24px 48px rgba(8, 28, 34, .08);

  @include max(1024) {
    //position: fixed;
    //top: 50% !important;
    //right: auto !important;
    //left: 50% !important;
    //transform: translate(-50%, -50%);
  }
  @include min(710) {
    width: 674px;
  }

  &::before,
  &::after {
    display: none;
  }


  .drp-calendar {
    max-width: 100%;

    @include min(710) {
      max-width: 340px;
    }
  }

  .drp-calendar.left {
    padding: 24px 24px 8px 22px;

    @include min(710) {
      padding: 24px 12px 8px 22px;
    }
  }

  .drp-calendar.right {
    padding: 8px 22px 8px 24px;

    @include min(710) {
      padding: 24px 22px 8px 12px;
    }

    .calendar-time::after {
      @include min(710) {
        left: -12px;
      }
    }
  }

  //arrows
  th.next,
  th.prev {
    &:hover {
      background-color: #fff !important;

      span {
        border-color: $brand;
      }
    }
  }

  //sells
  .calendar-table td,
  .calendar-table th {
    width: 42px;
    height: 32px;
  }

  //name of month
  th.month {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
    user-select: none;
    color: #242424;
  }

  //name of days
  th {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    user-select: none;
    text-align: center;
    color: #3d3d3d;
  }

  //dates
  td {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: #6b6b6b;
  }

  //period
  td.in-range,
  td.in-range:hover {
    color: #242424;
    background-color: #fff6de;
  }

  //start/end days of period
  td.active,
  td.active:hover {
    color: #242424;
    background-color: #ffe59e !important;
  }

  //start day
  td.start-date {
    border-radius: 8px 0 0 8px;
  }

  //end day
  td.end-date {
    border-radius: 0 8px 8px 0;
  }

  //cells hover
  td.available:hover,
  th.available:hover {
    background-color: #ffe59e;
  }

  //cells dont active
  td.off {
    pointer-events: none;
  }

  //times
  .month,
  .calendar-time {
    position: relative;
    padding-top: 8px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      margin: auto;
      content: '';
      background-color: #e9e9e9;

      @include min(710) {
        width: calc(100% + 12px);
      }
    }

    select {
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      height: 32px;
      padding: 5px 15px;
      text-align: center !important;
      color: #242424;
      border: 1px solid #e9e9e9;
      border-radius: 8px !important;
      background: #fff;

      -webkit-appearance: none;
      -moz-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }

  //month + year
  .month {
    padding-top: 0;

    &::after {
      display: none;
    }
  }


  //footer
  .drp-buttons {
    position: relative;
    padding: 17px 24px 24px 24px;
    border: none;

    //&::before {
    //  position: absolute;
    //  z-index: 1;
    //  top: 0;
    //  right: 48px;
    //  bottom: 0;
    //  width: 14px;
    //  height: 12px;
    //  margin: auto;
    //  content: '';
    //  transform: translateY(-3px);
    //  pointer-events: none;
    //  background-image: url('../img/arr-right.svg');
    //  background-repeat: no-repeat;
    //  background-position: 50% 50%;
    //  background-size: contain;;
    //}

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: calc(100% - 48px);
      height: 1px;
      margin: auto;
      content: '';
      background-color: #e9e9e9;
    }
  }

  //apply btn
  .btn.btn-primary {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    width: 100%;
    height: 48px;
    margin: 0;
    padding-left: 24px;
    transition: .3s;
    text-align: left;
    color: #242424;
    border: none;
    border-radius: 12px !important;
    background: linear-gradient(90deg, #ffd04e -8.24%, #ffe59e 107.45%);

    &:hover {
      background: $brand;
    }
  }

  .drp-selected,
  .cancelBtn {
    display: none;
  }
}

.daterangepicker.single {
  width: 278px !important;
}


/* begin TIME */
.calendar-time-input-date {
  width: 250px;

  @include min(425) {
    width: 100%;
    max-width: calc(100% - 30px);
  }
  @include min(576) {
    max-width: 406px;
  }

  .drp-calendar {
    display: block !important;
    width: 100%;
    padding: 10px 0 10px 0 !important;

    @include min(425) {
      display: inline-block !important;
      width: 50%;
      padding: 10px 0 10px 0 !important;
    }
  }

  .drp-calendar.left {
    margin-bottom: -25px;

    @include min(425) {
      margin-bottom: 0;
    }

    .calendar-time {
      @include min(425) {
        padding: 0 5px 0 20px;
      }
    }
  }

  .drp-calendar.right {
    .calendar-time {
      @include min(425) {
        padding: 0 20px 0 5px;
      }
    }
  }

  .calendar-time {
    display: flex;
  }

  .calendar-time::after {
    display: none;
  }

  .calendar-table {
    display: none;
  }
}

/* end   TIME */
