.filter {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: #fff;

  @include min(992) {
    position: static;
    display: block;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @include min(992) {
      flex-direction: row;
      flex-wrap: nowrap;
      height: auto;
      padding: 40px 0;
      border-bottom: 1px solid #e9e9e9;
    }
  }
}

.filter-close-btn {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @include min(992) {
    display: none;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.filter__header {
  display: flex;
  justify-content: center;

  @include min(992) {
    display: none;
  }
}

.filter__title {
  position: relative;

  .h2 {
    margin-bottom: 22px;
  }
}

.filter__title-num {
  font-size: 12px;
  font-weight: 600;
  line-height: 110%;
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  transform: translate(-30%, 70%);
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  border-radius: 50%;
  background-color: #ffe59e;
}

.filter__selects {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 45px;

  @include min(992) {
    flex-direction: row;
    margin-bottom: 0;
  }

  .select {
    width: 100%;

    @include min(992) {
      width: 180px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    @include min(1200) {
      width: 200px;
    }

    select + span {
      width: 100%;
      height: 40px;
    }

    .ui-selectmenu-text {
      font-size: 14px;
      font-weight: 600;
      transform: translateY(1px);
    }
  }
}

.filter__reset {
  display: flex;
  align-items: center;
  flex: none;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: none;

  @include min(992) {
    margin-right: 0;
  }

  svg {
    flex: none;
    fill: rgba(36, 36, 36, .5);
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .tech-text-link {
    white-space: nowrap;
    color: rgba(36, 36, 36, .5);
  }
}

/* begin MOB */
.filter-mob {
  padding-top: 30px;

  @include min(992) {
    display: none;
  }
}

.filter-mob-btn {
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;

  .filter-mob-btn__text {
    position: relative;
    z-index: 1;
  }

  .filter-mob-btn__text-num {
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    transform: translate(-10%, 50%);
    border-radius: 50%;
    background-color: #fff;
  }

  svg {
    stroke-width: 2px;
    stroke: #242424;
  }
}

/* end   MOB */
