.logins {
  display: flex;
  width: auto;
  margin-top: auto;
  padding: 0;
  flex-direction: column;

  @include min(1200) {
    margin: 0;
    flex-direction: row;
  }

  .btn {
    height: 40px;
    margin-top: 24px;
    padding: 5px 16px;
    @include min(1200) {
    margin-left: 15px;
      margin-top: 0;

    }
  }
}
