.menu {
  display: none;

  @include min(1200) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 0;
  padding: 0 13px;
}

.menu__link {
  //@include responsive-font(32, 24);
  font-size: 14px;
  transition: .5s;
  text-decoration: none;
  color: #6b6b6b;

  &:hover {
    color: #ffbd06;
  }
}

.menu__btn {
  position: relative;
  display: flex;
  margin-left: 15px;
  text-decoration: none;

  &:hover {
    span {
      background-color: #fff6de;
    }
  }

  span {
    position: relative;
    z-index: 1;
    display: block;
    padding: 8px 12px;
    transition: .5s;
    border: 2px solid #3d3d3d;
    border-radius: 8px;
    background: #fff;
  }

  &::before {
    position: absolute;
    bottom: -3px;
    left: 2px;
    display: block;
    width: calc(100% - 4px);
    height: 100%;
    content: '';
    border-radius: 8px;
    background: #ffe59e;
  }
}
