/* begin TRANSPARENT SELECT */
.select--transparent + span {
  overflow: hidden;
  width: auto !important;
  max-width: 100%;
  padding-right: 0;
  text-align: right !important;
  border: none !important;
  background-color: transparent !important;

  .ui-selectmenu-text {
    padding-right: 8px;
  }

  &:hover {
    border: none;
    background-color: transparent;
  }

  .ui-selectmenu-icon.ui-icon {
    background-image: url('../img/select-btn.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.select--transparent-options {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  width: 250px !important;
  max-height: 330px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 30px !important;
  transition: .5s;
  color: #000;
  border: none !important;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 12px 48px rgba(8, 28, 34, .16);

  &::after {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    content: '';
    pointer-events: none;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }

  .simplebar-track.simplebar-vertical {
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 12px;
  }

  .simplebar-scrollbar {
    &::before {
      border-radius: 12px;
      background-color: #ffbd06;
    }
  }

  .ui-menu-item-wrapper {
    padding: 6px 24px;
    border: none;
  }


  .ui-state-active,
  .ui-widget-content .ui-state-active {
    margin: 0;
    padding: 6px 24px;
    color: #ffbd06;
    background-color: #fff;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 10px;
    content: '';
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 8px solid transparent;
  }
}

/* end   TRANSPARENT SELECT */

/* begin MAIN SELECT */
.select {
  position: relative;
  margin-bottom: 10px;

  select + span {
    font-size: 16px;
    line-height: 110%;
    position: relative;
    display: flex !important;
    overflow: hidden;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 60px;
    padding: 2px 22px;
    transition: .5s;
    text-overflow: ellipsis;
    color: #6b6b6b;
    border: 2px solid #e9e9e9 !important;
    border-radius: 12px !important;
    background-color: #fff !important;

    @include placeholder-color(#6b6b6b);
  }

  .ui-selectmenu-icon {
    z-index: 1;
    background-image: url('../img/select-btn.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .ui-selectmenu-text {
    transition: 0s;
  }
}

.select__placeholder,
.select__error {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.1;
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc(100% - 4px);
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 22px;
  transition: .5s;
  pointer-events: none;
  opacity: 0;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}

.select__placeholder {
  color: #6b6b6b;
}

.select__error {
  color: #dc5050;
}

.select.active {
  select + span {
    font-weight: 600;
    color: #242424;
  }

  .ui-selectmenu-text {
    transform: translateY(7px);
  }

  .select__placeholder {
    opacity: 1;
  }
}

.select.error {
  select + span {
    border-color: #dc5050 !important;
  }

  .ui-selectmenu-text {
    transform: translateY(7px);
  }

  .select__error {
    opacity: 1;
  }
}

/* end   MAIN SELECT */
