.profile-body__banner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 12px;

  @include min(992) {
    margin-bottom: 40px;
  }
  .h4 {
    margin-bottom: 5px;
  }
  .tech-text-link{
    margin-top: 15px;
    display: inline-block;
  }
}

.profile-body__banner--warning {
  background: rgba(255, 224, 224, .85);
}

.profile-body__banner-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 12px;
  background-color: #fff;

  @include min(768) {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  img {
    display: block;
    width: 28px;
    height: 28px;

    @include min(768) {
      width: 32px;
      height: 32px;
    }
  }
}

.profile-body__banner-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  color: #081c22;
}
