.container
  .row
    .col-12
      #delete-input.input.sign-up-form__input
        input(placeholder='Type DELETE here')
        span.input__placeholder Type DELETE here
        span.input__error Some error text
  .row
    .col-12
      button(data-dis="true")#delete-btn.btn.btn--warning.sign-up-form__btn
        span Delete my profile