.container
  .row
    .col-12
      .input.sign-up-form__input
        input(placeholder='Email address')
        span.input__placeholder Email address
        span.input__error Some error text
  .row
    .col-12
      button.btn.btn--gradient.sign-up-form__btn
        span Send password