.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  &.active {
    position: fixed;

    .header__inn--second {
      transform: translateX(0);
    }
  }
}


.header__inn--main {
  position: relative;

  .row {
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
}

.header__inn--second {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  transition: transform .5s;
  transform: translateX(-100vw);
  background-color: #fff6de;

  @include min(1200) {
    overflow: hidden;
    height: auto;
    transform: translateX(0);
    background-color: transparent;
  }


  .row {
    flex-direction: column;
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;

    @include min(1200) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .logo {
    pointer-events: none;
    opacity: 0;
  }
}
