.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: #fff;

  overscroll-behavior: none;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 940px;
  min-height: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.popup-close-btn {
  position: absolute;
  top: 34px;
  right: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    fill: #242424;
    width: 12px;
    height: 12px;
  }
}
