//BEGIN info
.profile-body__info
  .row
    .col-12.col-md-6.profile-body__info-item
      .tech-text-s Address
    .col-12.col-md-6.profile-body__info-item
      .cta 200 N. Spring Street, Los Angeles CA 90012
  .row
    .col-12.col-md-6.profile-body__info-item
      .tech-text-s Tax ID
    .col-12.col-md-6.profile-body__info-item
      .cta 000484812
  .row
    .col-12.col-md-6.profile-body__info-item
      .tech-text-s Email
    .col-12.col-md-6.profile-body__info-item
      .cta g.smith@gmail.com
  .row
    .col-12.col-md-6.profile-body__info-item
      .tech-text-s Phone
    .col-12.col-md-6.profile-body__info-item
      .cta 800 806 1234
//END   info