//BEGIN message
.message
  .message__icon
    img(src="assets/img/persons/person-01.jpg" alt="ava")
  .message__body
    .message__header
      h4.h4.message__title George Smith
      .tech-text-s.message__date 16:00  /  10 Jan 2023
    .message__text.body-s Woah, your project looks awesome! How long have you been coding for? I’m still new, but think I want to dive into React as well soon. Perhaps you can give me an insight on where I can learn React?
    .message__reply
      +svg('reply')
      span.cta Reply
//END   message
