//BEGIN message
form.message.message--form
  .message__icon
    img(src="assets/img/persons/person-01.jpg" alt="ava")
  .message__textarea
    .textarea
      textarea(placeholder='Add a comment…')
      span.input__placeholder Add a comment…
      span.input__error Some error text
  button.btn.btn--gradient
    span Replay
//END   message