//BEGIN message
.message
  .message__icon
    img(src="assets/img/clinics/clinic-05.jpg" alt="ava")
  .message__body
    .message__header
      h4.h4.message__title Baltimore Dental Group
      .tech-text-s.message__date 12:32  /  10 Jan 2023
    .message__text.body-s Woah, your project looks awesome! How long have you been coding for? I’m still new, but think I want to dive into React as well soon. Perhaps you can give me an insight on where I can learn React? Thanks!
    .message__reply
      +svg('reply')
      span.cta Reply
//END   message
