//BEGIN salary
.profile-body__salary
  .row
    .col-12.col-md-6.profile-body__salary-item
      h4.h4 Salary rate
      .tech-text-s Salary (hourly) rate if request till appointment
    .col-12.col-md-6.profile-body__salary-item
      .h3 $60
      .body-s per hour
//END   salary