//BEGIN schedule
.profile-body__schedule
  .profile-body__schedule-header
    h4.h4 Available working days and time
  .profile-body__schedule-list
    //BEGIN day
    .profile-body__schedule-day
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Mon
        .profile-body__schedule-day-item-td
          .body-s 8:30 AM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 2:00 PM
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-td
          .body-s 6:30 PM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 8:00 PM
    //END   day
    //BEGIN day
    .profile-body__schedule-day
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Tue
        .profile-body__schedule-day-item-td
          .body-s 8:30 AM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 2:00 PM
    //END   day
    //BEGIN day
    .profile-body__schedule-day
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Wed
        .profile-body__schedule-day-item-td
          .body-s 6:30 PM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 8:00 PM
    //END   day
    //BEGIN day
    .profile-body__schedule-day
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Thu
        .profile-body__schedule-day-item-td
          .body-s 8:30 AM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 2:00 PM
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-td
          .body-s 8:30 AM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 2:00 PM
    //END   day
    //BEGIN day
    .profile-body__schedule-day
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Fri
        .profile-body__schedule-day-item-td
          .body-s 9:00 AM
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 10:30 AM
    //END   day
    //BEGIN day
    .profile-body__schedule-day.profile-body__schedule-day--closed
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Sat
        .profile-body__schedule-day-item-td
          .body-s 00:00
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 00:00
    //END   day
    //BEGIN day
    .profile-body__schedule-day.profile-body__schedule-day--closed
      .profile-body__schedule-day-item
        .profile-body__schedule-day-item-th
          .cta Sun
        .profile-body__schedule-day-item-td
          .body-s 00:00
          .profile-body__schedule-arr
            +svg('arr')
          .body-s 00:00
    //END   day
//END   schedule