//BEGIN subscription
.profile-body__subscription
  .profile-body__subscription-header
    h4.h4 Subscription
    .tech-text-s Your next payment at 2.02.2023
    a(href="#").profile-body__subscription-link Change

  .profile-body__subscription-row(data-current="21" data-finish="31")
    .profile-body__subscription-row-scale
    .profile-body__subscription-row-label.cta
//END   subscription
