//BEGIN user-ava
.user-ava
  .user-ava__img.user-ava__img--bo
    .user-ava__img-letter B
  .user-ava__btn
    +svg('dots')
    ul.user-ava__menu
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('lock')
          span Security
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('settings')
          span Edit profile
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('power')
          span Log out
//END   user-ava