//BEGIN about-circle
.about-circle
  .container
    .row
      .about-circle__rounds
        .about-circle__rounds-img
          img(src="assets/img/rounds.svg" alt="Tempeak")

        .about-circle__avatars
          +ava('02', 'sm')
          +ava('01', 'lg')
          +ava('04', 'sm')
          +ava('03', 'lg')
          +ava('06', 'sm')
          +ava('07', 'sm')
          +ava('05', 'lg')
          +ava('08', 'sm')
          +ava('04', 'sm')

        .about-circle__text
          h3.h3.about-circle__text-title Revolutionizing the Business of Recruitment. Our Passion is Dentistry
          .about-circle__text-subtitle.body-m Tempeak gives you the opportunity to select the dental professional you seek! Find the right candidate for your office, culture, and requirements.
//END   about-circle