//BEGIN about-sponsors
.about-sponsors
  .container
    .row
      .about-sponsors__icon
        img(src="assets/img/anim-gif/work.gif" alt="icon")
      h2.h2.about-sponsors__title To become a Tempeak partner, you will need to meet certain qualifications and go through a brief application process.
      h4.h4.about-sponsors__subtitle These requirements may include having a strong understanding of the dental industry, a proven track record of sales success, and the ability to effectively communicate with clients and dental professionals.
//END   about-sponsors