//BEGIN about-we-do
.about-we-do
  .container
    .row
      .h3.about-we-do__bredcrumbs What do we do?
      .about-we-do__text
        h2.h2.about-we-do__text-title Find the professional you need today!
        .h4.about-we-do__text-subtitle Our placement company provides superior talent and the best dental professionals for your clinic. We solely focus on connecting dental offices with dentists, hygienists, dental assistants, and business staff with temporary and/or long-term work.
        a(href="#").about-we-do__text-btn.btn.btn--gradient
          span Start now
//END   about-we-do