//BEGIN about-estimate
.about-estimate
  .container
    .row
      h2.about-estimate__title.h2 To eliminate the complexity of a middle-man staffing agents & agencies, and connect dental offices directly to dentists, hygienists, and dental assistants.
  .container
    .row
      .about-estimate__subtitle
        .about-estimate__subtitle-item
          .h4 Our goal
        .about-estimate__subtitle-item
          .h4 Being the 'Agency Of Choice', we evaluate and confirm every applicant's technical skills, credentials, communication style, and personality to accelerate the simplicity of your search.
  .container
    .row
      .about-estimate__table
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Customize search
          .about-estimate__table-item
            .h4 Filter what you’re looking for and narrow down the candidates who suit your needs.
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Targeted Marketing
          .about-estimate__table-item
            .h4 Complete your direct and proactive search. We’ve eliminated the potential service gap by providing quality temporary and permanent professionals who are ready to work for your dental office in a moments notice.
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Candidate qualification
          .about-estimate__table-item
            .h4 We provide a simple screening process. We only send you the best dental professionals.
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Negotiation expertise
          .about-estimate__table-item
            .h4 We negotiate contracts and offer a mutually beneficial partnership.
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Post Search Review
          .about-estimate__table-item
            .h4 Act as a trusted advisor to support the retention of your new hire to ensure alignment and smooth transition.
//END   about-estimate
