//BEGIN about-estimate
.about-estimate
  .container
    .row
      .about-estimate__table
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Network
          .about-estimate__table-item
            .h4 Exclusive access to our extensive network of dental professionals and clients
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Benefit
          .about-estimate__table-item
            .h4 Competitive commissions and incentives
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Support and grow
          .about-estimate__table-item
            .h4 Ongoing training and support
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Flexible
          .about-estimate__table-item
            .h4 The ability to work flexible hours and from anywhere
        .about-estimate__table-row
          .about-estimate__table-item
            .h3 Team
          .about-estimate__table-item
            .h4 The opportunity to grow your own business while being a part of a larger team
//END   about-estimate
