//BEGIN became-sponsors
.became-sponsors
  .container
    .row
      h2.h2.became-sponsors__title Became a partner
      h4.h4.became-sponsors__subtitle If you are interested in becoming a Tempeak partner and want to learn more about our partnership program, please contact us
    form.row
      .col-12.col-md-6.col-xl-3
        .input
          input(placeholder='Company')
          span.input__placeholder Company
          span.input__error Some error text
      .col-12.col-md-6.col-xl-3
        .input
          input(placeholder='Email')
          span.input__placeholder Email
          span.input__error Some error text
      .col-12.col-md-6.col-xl-3
        .input
          input(placeholder='Phone')
          span.input__placeholder Phone
          span.input__error Some error text
      .col-12.col-md-6.col-xl-3
        button.btn.btn--gradient
          span Submit
    .row
      .became-sponsors__footer
        .body-s Together, reaching new heights in dental staffing
//END   became-sponsors
