//BEGIN index-jobs
.index-jobs
  //BEGIN index-jobs__header
  .index-jobs__header
    .container
      .row
        h2.h2.index-jobs__header-title.col-12.col-md-9 Latest 10 job opportunities
        .index-jobs__city-filter.col-12.col-md-3
          .index-jobs__city-filter-text.cta City
          .index-jobs__city-filter-select
            select.select.select--transparent
              option(value="Alabama") Alabama
              option(value="Nebraska") Nebraska
              option(value="Virginia") Virginia
              option(value="New Hampshire") New Hampshire
              option(value="Massachusetts") Massachusetts
              option(value="Rhode Island") Rhode Island
              option(value="Connecticut") Connecticut
              option(value="New York") New York
              option(value="New Jersey") New Jersey
              option(value="Pennsylvania") Pennsylvania
              option(value="Delaware") Delaware
              option(value="Maryland") Maryland
              option(value="North Carolina") North Carolina
              option(value="South Carolina") South Carolina
              option(value="Utah") Utah
  //END   index-jobs__header

  //BEGIN index-jobs__slider
  .index-jobs__slider
    .container
      .row
        include ../sliders/jobs-slider
  //END   index-jobs__slider

  //BEGIN index-jobs__footer
  .index-jobs__footer
    .container
      .row
        a(href="#").index-jobs__footer-link.cta See all job opportunities
  //END   index-jobs__footer    
//END   index-jobs