//BEGIN index-reg
.index-reg
  .container
    .row
      h2.index-reg__title.h2 Start registration now and see <br>what Tempeak can do for your business
      .index-reg__subtitle.body-l Consider us as your partner - our best interest lies in connecting you with the employee(s) you are looking for. We are looking forward to working with you
      a(href="#").btn.btn--white.index-reg__btn Registration
      .index-reg__subbtn.body-s Join the Tempeak family
//END   index-reg