//BEGIN index-personal
.index-personal
  .container
    .row
      .col-6
        #index-personal__slider.index-personal__slider
          .swiper-wrapper
            .index-personal__slider-item.swiper-slide
              h2.h2.index-personal__slider-title.index-personal__slider-title--visible(data-text='understand you <br> <strong>and your long-term needs</strong>') We - <span></span>
              h2.h2.index-personal__slider-title.index-personal__slider-title--hidden We - <span>understand you <br> <strong>and your long-term needs</strong></span>
              .index-personal__descr.body-l Our attention to detail and superior customer service can assist you in building your team and take the stress out of finding the best talent for your dental office in a matter of seconds
            .index-personal__slider-item.swiper-slide
              h2.h2.index-personal__slider-title.index-personal__slider-title--visible(data-text='understand you <br> <strong>and your long-term needs</strong>') We - <span></span>
              h2.h2.index-personal__slider-title.index-personal__slider-title--hidden We - <span>understand you <br> <strong>and your long-term needs</strong></span>
              .index-personal__descr.body-l Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci, aperiam assumenda dignissimos earum eveniet fuga laboriosam nobis obcaecati quia quo sed similique voluptate.
            .index-personal__slider-item.swiper-slide
              h2.h2.index-personal__slider-title.index-personal__slider-title--visible(data-text='understand you <br> <strong>and your long-term needs</strong>') We - <span></span>
              h2.h2.index-personal__slider-title.index-personal__slider-title--hidden We - <span>understand you <br> <strong>and your long-term needs</strong></span>
              .index-personal__descr.body-l Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores commodi, cum cumque earum error excepturi neque numquam odio quas quasi quis ratione repellat repellendus repudiandae unde voluptas? Dignissimos, dolor.
        #index-personal__slider-thumb.index-personal__slider-thumb
          .swiper-wrapper
            .index-personal__slider-thumb-item.swiper-slide
              .index-personal__slider-thumb-title.cta Long-term needs
            .index-personal__slider-thumb-item.swiper-slide
              .index-personal__slider-thumb-title.cta Proven methodologies
            .index-personal__slider-thumb-item.swiper-slide
              .index-personal__slider-thumb-title.cta High quality standards
      .col-6.index-personal__docs-wrap
        .index-personal__docs
//END   index-personal

span#element