//BEGIN index-about
.index-about
  .container
    .row
      include ../elements/text-index-about
      .index-about__video
        .index-about__video-imac
          a.index-about__video-bg(href='https://youtu.be/XsLuwX22M9g')
            picture
              source(srcset='https://i.ytimg.com/vi_webp/XsLuwX22M9g/maxresdefault.webp' type='image/webp')
              img.index-about__video-media(src='https://i.ytimg.com/vi/XsLuwX22M9g/maxresdefault.jpg' alt='Tempeak')
          button.index-about__video-btn
            +svg('play')
//END   index-about