//BEGIN index-different
.index-different
  .container
    .row
      h2.index-different__title.h2 What makes us different from the others?
      .index-different__subtitle.body-l At tempeak, we strive to meet the demand for dental staffing and position fulfillment! We offer a variety of simple staffing solutions that work best for your practice.
  .container
    .row.index-different__items
      .col-12.col-md-4.index-different__item
        .index-different__icon
          img(src="assets/img/anim-gif/verified.gif" alt="Tempeak")
        .index-different__text.h4 We provide qualified and professional personnel - dentists, hygienists, dental assistants, and lab technicians
      .col-12.col-md-4.index-different__item
        .index-different__icon
          img(src="assets/img/anim-gif/search.gif" alt="Tempeak")
        .index-different__text.h4 Actively recruit thousand’s of talented dental professionals that are unable to see your job posts
      .col-12.col-md-4.index-different__item
        .index-different__icon
          img(src="assets/img/anim-gif/contacts.gif" alt="Tempeak")
        .index-different__text.h4 We screen candidates and handle the time-consuming work, so that you can focus on hiring those who suit your needs best
//END   index-different