//BEGIN index-about
.index-about
  .container
    .row
      h2.h2.index-about__title Do you need to help your practice run smoothly, eliminating unwanted downtime? Unlike traditional staffing, we regularly fill dentistry jobs for dental practices - whether permanent, temporary, or emergency.        Find your quality dental staffing with Tempeak.
      .index-about__video
        .index-about__video-imac
          img(src="assets/img/imac.svg" alt="Tempeak")

//END   index-about