//BEGIN ad-banner
.ad-banner(style="background-color:#DAECFA;")
  .ad-banner__close
    +svg('close')
  //BEGIN info
  .ad-banner__info
    .ad-banner__top-text.tech-caps-text special offer
    .ad-banner__main
      h3.h3.ad-banner__title 15% on online order in DentalGroup.com
      .ad-banner__btn.double-btn
        span More details
    .ad-banner__bottom-text <a href="#">advertising</a> by tempeak
  //END   info

  .ad-banner__img
    img(src="assets/img/banner-img.jpg" alt="Tempeak")
//END   ad-banner