//BEGIN download
.download.edit
  .download__input
    input(type='file')
    //span
    //span Upload your document
    .download__input-placeholder Upload your document
    .download__input-filename
    .download__icon-start
      img(src="assets/img/download.svg" alt="icon")
    .download__icon-success
      img(src="assets/img/download-success.svg" alt="icon")
  .download__clear-btn
    +svg('trash')
//END   download