//BEGIN requests-filter
.requests-filter
  ul.requests-filter__list
    li.requests-filter__item.active
      .cta All
    li.requests-filter__item
      .cta Waiting
    li.requests-filter__item
      .cta Accepted
    li.requests-filter__item
      .cta Completed
    li.requests-filter__item
      .cta Canceled
    li.requests-filter__item
      .cta Declined
//END   requests-filter