//BEGIN index-top__rounds
.index-top__rounds
  .index-top__rounds-img
    img(src="assets/img/rounds.svg" alt="Tempeak")
  .index-top__rounds-avatars
    +ava('01', 'lg')
    +ava('02', 'sm')
    +ava('03', 'lg')
    +ava('04', 'sm')
    +ava('05', 'lg')
    +ava('06', 'sm')
    +ava('07', 'lg')
    +ava('08', 'sm')
    +ava('06', 'sm')
  .index-top__rounds-text.body-s Over 100,000 dental practices <br>and 132,200 dental professionals <br>waiting for you
//END   index-top__rounds