.container
  .row
    .col-12
      .input.sign-up-form__input
        input(placeholder='Email')
        span.input__placeholder Email
        span.input__error Some error text
    .col-12
      .input.sign-up-form__input
        input(placeholder='Password' type="password")
        span.input__placeholder Password
        span.input__error Some error text

  .row
    .col-6
      label.checkbox.sign-up-form__checkbox
        input(type="checkbox").checkbox__input
        span
        div.cta.checkbox__text Remember me
    .col-6
      a(href="#").tech-text-s.sign-up-form__forgot Forgot password?
  .row
    .col-12
      button.btn.btn--gradient.sign-up-form__btn
        span Log in