.h1.marquee
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")
  span our vision
  svg
    use(xlink:href="assets/img/sprite.svg#snow")