//BEGIN requests-filter
.requests-filter
  ul.requests-filter__list
    li.requests-filter__item.active
      a(href="#").cta All
    li.requests-filter__item
      a(href="#").cta Waiting
    li.requests-filter__item
      a(href="#").cta Accepted
    li.requests-filter__item
      a(href="#").cta Declined
//END   requests-filter