//BEGIN search
form.search-index
  .select.search-index__select
    select
      option(value="State") State
      option(value="Alabama") Alabama
      option(value="Nebraska") Nebraska
      option(value="Virginia") Virginia
      option(value="New Hampshire") New Hampshire
      option(value="Massachusetts") Massachusetts
      option(value="Rhode Island") Rhode Island
      option(value="Connecticut") Connecticut
      option(value="New York") New York
      option(value="New Jersey") New Jersey
      option(value="Pennsylvania") Pennsylvania
      option(value="Delaware") Delaware
      option(value="Maryland") Maryland
      option(value="North Carolina") North Carolina
      option(value="South Carolina") South Carolina
      option(value="Utah") Utah
    span.select__placeholder State
    span.select__error Some error text

  .select.search-index__select
    select
      option(value="State") Specialty
      option(value="Specialty 1") Specialty 1
      option(value="Specialty 2") Specialty 2
      option(value="Specialty 3") Specialty 3
      option(value="Specialty 4") Specialty 4
      option(value="Specialty 5") Specialty 5
      option(value="Specialty 6") Specialty 6
      option(value="Specialty 7") Specialty 7
      option(value="Specialty 8") Specialty 8
      option(value="Specialty 8") Specialty 8
      option(value="Specialty 9") Specialty 9
    span.select__placeholder Specialty
    span.select__error Some error text

  button.btn.btn--gradient.search-index__btn
    span Search
    img(src="assets/img/anim-gif/search.gif" alt="search button")
//END   search