//BEGIN search
form.search-contractor.search-contractor--bo
  .select.search-contractor__select.search-contractor__item
    select
      option(value=" ") RDA
      option(value="") RDH
      option(value="") Coordinator
      option(value="") Business CoordinatorRDH
      option(value=" ") RDA
      option(value=" ") DDS
      option(value="") DMD
    span.select__placeholder RDA
    span.select__error Some error text

  .select.search-contractor__select.search-contractor__item
    select
      option(value="State") Speciality
      option(value="Alabama") Alabama
      option(value="Nebraska") Nebraska
      option(value="Virginia") Virginia
      option(value="New Hampshire") New Hampshire
      option(value="Massachusetts") Massachusetts
      option(value="Rhode Island") Rhode Island
      option(value="Connecticut") Connecticut
      option(value="New York") New York
      option(value="New Jersey") New Jersey
      option(value="Pennsylvania") Pennsylvania
      option(value="Delaware") Delaware
      option(value="Maryland") Maryland
      option(value="North Carolina") North Carolina
      option(value="South Carolina") South Carolina
      option(value="Utah") Utah
    span.select__placeholder State
    span.select__error Some error text

  .input.search-contractor__input.calendar-input.search-contractor__item
    input(placeholder="Date and time")
    span.input__placeholder Date and time
    span.input__error Some error text

  button.btn.btn--gradient.search-contractor__btn.search-contractor__item
    span Search
    img(src="assets/img/anim-gif/search.gif" alt="search button")
//END   search