//BEGIN item
.sign-up-form__item
  .container
    .row
      .col-12
        .input.sign-up-form__input
          input(placeholder='Email')
          span.input__placeholder Email
          span.input__error Some error text
      .col-12
        .input.sign-up-form__input
          input(placeholder='Password' type="password")
          span.input__placeholder Password
          span.input__error Some error text
      .col-12
        .input.sign-up-form__input
          input(placeholder='Confirm password' type="password")
          span.input__placeholder Confirm password
          span.input__error Some error text
//END   item

//BEGIN item
.sign-up-form__item
  .container
    .row
      .col-12
        label.checkbox.sign-up-form__checkbox
          input(type="checkbox").checkbox__input
          span
          div.cta.checkbox__text I agree to the <a href="#">Terms of Use</a>
//END   item

//BEGIN item
.sign-up-form__item
  .container
    .row
      .col-12
        button.btn.btn--gradient.sign-up-form__btn
          span Sign up
//END   item
