h2.h2.index-about__title
  | Do you need to help your practice run smoothly, eliminating unwanted downtime? Unlike traditional staffing, we regularly fill dentistry jobs for dental practices - whether permanent, temporary, or emergency.
  a(href="#").index-about__title-btn
    img(src="assets/img/anim-gif/search.gif" alt="search")
  | Find your quality dental staffing with Tempeak.
