h2.h2.index-about__title
  | We understand that running a business is complicated, having the best people
  a(href="#").index-about__title-btn
    img(src="assets/img/anim-gif/search.gif" alt="search")
    span.cta Find staff
  | by your side will make your operation more efficient and smoother! No business can succeed and grow without the right people.
