//BEGIN ui-single-slider
.ui-single-slider(data-value='60' data-max='150')
  .ui-single-slider__handle.ui-slider-handle
  .ui-single-slider__min.tech-text-s $0
  .ui-single-slider__max.tech-text-s
//END   ui-single-slider

//BEGIN ui-single-slider-input
.ui-single-slider-input
  .input
    input(placeholder='Salary (hourly) rate ')
    span.input__placeholder Salary (hourly) rate
    span.input__error Some error text
//END   ui-single-slider-input