//BEGIN header
header.header#header
  .container
    .row
      .header__left
        include ../../elements/logo
        include ../../elements/burger
      .header__right
        include ../../elements/burger
        .header-logout
          a(href="#").btn.btn--transparent Log out
        include ../../elements/user-avatars/ava-bo
//END   header

include ../../elements/menu/main-menu
include ../../elements/menu/second-menu-bo