//BEGIN header
header.header#header
  .container
    .row
      .header__left
        include ../../elements/logo
        include ../../elements/burger
      .header__right
        include ../../elements/menu/header-right-menu-bo

        .header-logout
          a(href="#").btn.btn--transparent
            +svg('magnify')
            span Search contractor

        include ../../elements/burger
        include ../../elements/user-avatars/ava-bo-img
//END   header

include ../../elements/menu/main-menu
include ../../elements/menu/second-menu-bo