//BEGIN header
header.header#header
  .container
    .row
      .header__left
        include ../../elements/logo
        include ../../elements/burger
      .header__right
        include ../../elements/menu/header-right-menu-co
        include ../../elements/burger
        include ../../elements/user-avatars/ava-co-img
//END   header

include ../../elements/menu/main-menu
include ../../elements/menu/second-menu-co