.btn {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  padding: 12px 60px;
  cursor: pointer;
  user-select: none;
  transition: .5s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #242424;
  border: 2px solid transparent;
  border-radius: 12px !important;
  background-color: transparent;
  box-shadow: none;

  img,
  svg {
    position: relative;
    z-index: 1;
    display: block;
    flex: none;
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

.btn--transparent {
  border: 2px solid transparent;

  &:hover {
    color: #ffd04e;
  }
}

.btn--white {
  border: 2px solid #fff;
  background-color: #fff;

  &:hover {
    border-color: #242424;
  }
}

.btn--white-and-black {
  border: 2px solid #242424;
  background-color: #fff;

  &:hover {
    border-color: $brand;
    color: $brand;
  }
}

.btn--highlight {
  border: 2px solid #ffd04e;
  background-color: #ffd04e;

  &:hover {
    border-color: #242424;
  }
}

/* begin GRADIENT */
.btn--gradient {
  position: relative;
  overflow: hidden;
  border: none;
  background-image: linear-gradient(90deg, #ffd04e -8.24%, #ffe59e 107.45%);

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  span {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity .5s;
    pointer-events: none;
    opacity: 0;
    border-radius: 12px;
    background-color: #ffbd06;
  }
}

/* end   GRADIENT */


/* begin DOUBLE COLOR BTN */

.double-btn {
  position: relative;
  display: inline-flex;
  text-decoration: none;

  &:hover {
    span {
      background-color: #fff6de;
    }
  }

  span {
    position: relative;
    z-index: 1;
    display: block;
    padding: 6px 10px;
    transition: .5s;
    white-space: nowrap;
    border: 2px solid #3d3d3d;
    border-radius: 8px;
    background: #fff;
  }

  &::before {
    position: absolute;
    bottom: -3px;
    left: 2px;
    display: block;
    width: calc(100% - 4px);
    height: 100%;
    content: '';
    border-radius: 8px;
    background: #ffe59e;
  }
}

/* end   DOUBLE COLOR BTN */
