.btn {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  padding: 12px 60px;
  cursor: pointer;
  user-select: none;
  transition: .5s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #242424;
  border: none;
  border-radius: 12px !important;
  box-shadow: none;
}

.btn--white {
  border: 2px solid #fff;
  background-color: #fff;

  &:hover {
    border-color: #242424;
  }
}
