// ===== responsive =====
@mixin max($width) {
  @media screen and (max-width: $width + 'px') {
    @content;
  }
}

@mixin min($width) {
  @media screen and (min-width: $width + 'px') {
    @content;
  }
}

// ===== ol style =====
@mixin counter($var) {
  counter-reset: $var;
  & > li::before {
    content: counter($var) ') ';
    counter-increment: $var;
  }
}

// ===== placeholder style =====
@mixin placeholder-color($color) {
  font-weight: 400;
  opacity: 1;
  /* Chrome/Opera/Safari */
  &::-webkit-input-placeholder {
    font-weight: 400;
    opacity: 1;
    color: $color;
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    font-weight: 400;
    opacity: 1;
    color: $color;
  }
  /* IE 10+ */
  &:-ms-input-placeholder {
    font-weight: 400;
    opacity: 1;
    color: $color;
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    font-weight: 400;
    opacity: 1;
    color: $color;
  }
}

// ===== responsive font =====
@mixin responsive-font($pcSize, $mobSize) {
  font-size: $pcSize + px; //размер на десктопе

  $maxWidth: 1320; //контейнер
  $addSize: $pcSize - $mobSize; //разница в размере
  $maxWidth: $maxWidth - 320; //разница в контейнерах
  @media (max-width: 1320px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  }
}
