//BEGIN header-right-menu
nav.header-right-menu
  ul.header-right-menu__list
    li.header-right-menu__item
      a(href="#").header-right-menu__link Profile
    li.header-right-menu__item
      a(href="#").header-right-menu__link Specials
    li.header-right-menu__item
      a(href="#").header-right-menu__link My jobs
    li.header-right-menu__item
      a(href="#").header-right-menu__link Requests
        span.header-right-menu__link-num 2
//END   header-right-menu
