//BEGIN header-right-menu
nav.header-right-menu
  ul.header-right-menu__list
    li.header-right-menu__item
      a(href="#").header-right-menu__link Profile
    li.header-right-menu__item
      a(href="#").header-right-menu__link Requests
    li.header-right-menu__item
      a(href="#").header-right-menu__link Jobs
//END   header-right-menu