//BEGIN menu
nav.menu
  ul.menu__list
    li.menu__item
      a(href="#").menu__link.cta About
    li.menu__item
      a(href="#").menu__link.cta How it work
    li.menu__item
      a(href="#").menu__link.cta Pricing
    li.menu__item
      a(href="#").menu__link.cta App
    li.menu__item
      a(href="#").menu__link.cta Our sponsors
    li.menu__item
      a(href="#").menu__link.cta Contact
  a(href="#").menu__btn
    span.cta Become a partner
//END   menu