//BEGIN second-menu
#second-menu.second-menu
  .second-menu__col
    .second-menu__col-item
      include ./header-right-menu-co

    ul.user-ava__menu
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('lock')
          span Security
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('settings')
          span Edit profile
      li.user-ava__menu-item
        a(href="#").user-ava__menu-link
          +svg('power')
          span Log out
//END   second-menu