//BEGIN cancel-warning-banner
.cancel-warning-banner.banner
  .banner__close
    +svg('close')
  .container
    .row
      .icon.icon--white
        img(src="assets/img/anim-gif/error.gif" alt="Tempeak")
      h3.h3.banner__title In case of a change of specialization, all your active requests will be canceled. Continue?
      .banner__btns
        button.btn.btn--transparent-and-black
          span No
        button.btn.btn--black
          span Yes
//END   cancel-warning-banner