//BEGIN delete-yes-banner
.delete-yes-banner.banner
  .banner__close
    +svg('close')
  .container
    .row
      .icon.icon--white
        img(src="assets/img/anim-gif/info.gif" alt="Tempeak")
      h3.h3.banner__title Your profile deleted
      .body-m.banner__descr You can restore it within 60 days. After this period, all data will be deleted and will not be subject to recovery.
//END   delete-yes-banner