extends ../_template

block variables
  - let title       = '01.4 Pricing / Tempeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    include ../sections/headers/header-unreg

    //begin content
    main.main
      .download-apps.top-section
        include ../sections/index-apps

    //end content
    include ../sections/bottom-sections-wrap
