extends ../_template

block variables
  - let title       = '01.6 Contact / Tempeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    include ../sections/headers/header-unreg

    //begin content
    main.main
      .privacy.top-section
        .container
          .row
            .col-12.col-md-6
              h1.h1.privacy__title Privacy policy
            .col-12.col-md-6
              .body-s Protecting your private information is our priority. This Statement of Privacy applies to www.tempeak.com, Semerey Dental Management (and its affiliates), and Semerey Software Management, and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to tempeak include www.tempeak.com, Semerey Dental Management (and its affiliates), and Semerey Software Management.
              .body-s The tempeak website is an Employment Matching site that allows employers to find employees having predetermined qualifications. By using the tempeak website, you consent to the data practices described in this statement.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Collection of your Personal Information
            .col-12.col-md-6
              .body-s Tempeak may collect personally identifiable information, such as your name and license. If you purchase tempeak's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. tempeak may also collect anonymous demographic information, which is not unique to you, such as your age, gender, household income, political affiliation, race, religion and other attributes. We may gather additional personal or non-personal information in the future.
              .body-s Information about your computer hardware and software may be automatically collected by tempeak. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the tempeak website.
              .body-s Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through tempeak's public message boards, this information may be collected and used by others.
              .body-s Tempeak encourages you to review the privacy statements of websites you choose to link to from tempeak so that you can understand how those websites collect, use and share your information. tempeak is not responsible for the privacy statements or other content on websites outside of the v website.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Use of your Personal Information
            .col-12.col-md-6
              .body-s Tempeak collects and uses your personal information to operate its website(s) and deliver the services you have requested.
              .body-s Tempeak may also use your personally identifiable information to inform you of other products or services available from tempeak and its affiliates. tempeak may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
              .body-s Tempeak does not sell, rent or lease its customer lists to third parties.
              .body-s Tempeak may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to tempeak, and they are required to maintain the confidentiality of your information.
              .body-s Tempeak will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on tempeak or the site; (b) protect and defend the rights or property of tempeak; and, (c) act under exigent circumstances to protect the personal safety of users of tempeak, or the public.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Use of Cookies
            .col-12.col-md-6
              .body-s The tempeak website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
              .body-s One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize tempeak pages, or register with tempeak site or services, a cookie helps tempeak to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same tempeak website, the information you previously provided can be retrieved, so you can easily use the tempeak features that you customized.
              .body-s You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the tempeak services or websites you visit.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Security of your Personal Information
            .col-12.col-md-6
              .body-s Tempeak secures your personal information from unauthorized access, use or disclosure.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Children Under Thirteen
            .col-12.col-md-6
              .body-s Tempeak does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Disconnecting your tempeak Account from Third Party Websites
            .col-12.col-md-6
              .body-s You will be able to connect your tempeak account to third party accounts.
              .body-s BY CONNECTING YOUR SEMEREY DENTAL MANAGEMENT ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED INTHIS MANNER, DO NOT USE THE THIS FEATURE.
              .body-s You may disconnect your account from a third party account at any time. Users may learn how to disconnect their accounts from third-party websites by visiting their "My Account" page. Users may also contact us via email or telephone.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Opt-Out & Unsubscribe
            .col-12.col-md-6
              .body-s We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from tempeak by contacting us here:
              .tech-text-s Web page:
              .body-m www.tempeak.com
              .tech-text-s Email:
              .body-m service@tempeak.com
              .tech-text-s Phone:
              .body-m 667-777-9776
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Changes to this Statement
            .col-12.col-md-6
              .body-s Tempeak will occasionally update this Statement of Privacy to reflect company and customer feedback. tempeak encourages you to periodically review this Statement to be informed of how tempeak is protecting your information.
          .row
            .col-12.col-md-6
              h3.h3.privacy__subtitle Contact Information
            .col-12.col-md-6
              .body-s Tempeak welcomes your questions or comments regarding this Statement of Privacy. If you believe that tempeak has not adhered to this Statement, please contact tempeak at:
              .tech-text-s Address:
              .body-m Semerey Dental Management<br>6325 Amherst Ave.<br>Columbia, Maryland 21046
              .tech-text-s Email Address:
              .body-m service@tempeak.com
              .tech-text-s Telephone number:
              .body-m 667-777-9776

      .privacy__footer
        .container
          .row
            h1.tech-text-s Effective as of February 01, 2017
    //end content
    include ../sections/bottom-sections-wrap
