extends ../_template

block variables
  - let title       = '02.5 Login / Tempeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    include ../sections/headers/header-unreg

    //begin content
    main.main
      .sign-up
        //BEGIN header
        .sign-up__header
          .container
            .row
              h1.h1.sign-up__title Log in

        //END   header


        //BEGIN sign-up-form
        form.sign-up-form.active
          include ../elements/log-in-form
        //END   sign-up-form

        //BEGIN sign-up-footer
        .sign-up-footer
          .container
            .row
              .col-12
                .sign-up-form__or-text OR login with
            .row
              .col-6
                a(href="#").sign-up-form__soc-btn.sign-up-form__soc-btn--google
                  span.cta Google
                  +svg('google')
              .col-6
                a(href="#").sign-up-form__soc-btn.sign-up-form__soc-btn--facebook
                  span.cta Facebook
                  +svg('facebook')
              .col-6
                a(href="#").sign-up-form__soc-btn.sign-up-form__soc-btn--apple
                  span.cta Apple
                  +svg('apple')
              .col-6
                a(href="#").sign-up-form__soc-btn.sign-up-form__soc-btn--linkedin
                  span.cta Linked in
                  +svg('linkedin')
            .row
              .col-12
                .sign-up-form__login New user? <a href="#">Sign up<a>
        //END   sign-up-footer
    //end content
    include ../sections/bottom-sections-wrap-no-footer

