extends ../_template

block variables
  - let title       = '03.2 New password (after going through the password recovery email) / Tempeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    include ../sections/headers/header-co-ava

    //begin content
    main.main
      .sign-up
        //BEGIN header
        .sign-up__header
          .container
            .row
              h1.h1.center.sign-up__title Change password
        //END   header


        //BEGIN sign-up-form
        form.sign-up-form.active
          include ../elements/forms/change-password-form
        //END   sign-up-form

        //BEGIN sign-up-footer
        .sign-up-footer
          .container
            .row
              .col-12
                .sign-up-form__login <a href="#">Cancel<a>
        //END   sign-up-footer
    //end content
    include ../sections/bottom-sections-wrap-no-footer-no-btn