extends ../_template

block variables
  - let title       = '04.1 restore profile / Tempeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

mixin ava(img, className)
  div(class="index-top__ava index-top__ava--" + className)
    img(src="assets/img/avatars/ava-" + img + ".jpg" alt="temPeak")

block content
  .main-wrap
    include ../sections/headers/header-bo-ava

    //begin content
    main.main
      mixin ava(img, className)
        div(class="index-top__ava index-top__ava--" + className)
          img(src="assets/img/avatars/ava-" + img + ".jpg" alt="temPeak")

      //BEGIN search-co-bo
      .search-co-bo
        //BEGIN index-top
        .index-top.top-section
          .container
            .row
              h1.index-top__title.h1 Search Contractor
              .index-top__subtitle.body-l Unlike traditional staffing agencies, we connect you directly with dental professionals

              include ../elements/search-contractor-co

              .tech-text-s.index-top__undertitle The search is based on the State CA on your profile. To change a other state, please change the geolocation in your <a href="#">profile settings.</a>

              include ../elements/index-top-rounds
        //END   index-top
      //END   search-co-bo
    //end content
    include ../sections/bottom-sections-wrap-no-footer-no-btn