extends ../_template

block variables
  - let title       = 'TemPeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'

block content
  .main-wrap
    //include ../sections/header

    //begin content
    main.main
      include ../sections/index-reg

    //end content
    //-include ../elements/scrollUp
    include ../sections/footer
    include ../sections/scripts
