extends ../_template

block variables
  - let title       = 'TemPeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'

block content
  .main-wrap
    //include ../sections/header

    //begin content
    main.main
      .temp(style="padding: 80px 0; background-color: tomato;")
        .container
          .row
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque deleniti illo laborum modi perspiciatis suscipit tenetur! Accusamus, alias at beatae commodi culpa cumque cupiditate dolorem dolores eos error eum impedit ipsa ipsum iusto nesciunt, numquam obcaecati optio perspiciatis quis quo reiciendis reprehenderit temporibus totam ut vitae. Blanditiis consequatur, culpa doloribus ducimus eos esse facere inventore minima non quas. Accusamus aliquam aliquid animi cum delectus ducimus ea error et explicabo, fugit illum, in ipsa itaque laborum neque nobis officia omnis quasi quibusdam quidem quisquam recusandae reprehenderit soluta unde velit veniam voluptate voluptatum. Dignissimos eius, tenetur! Cum et inventore quaerat tempora.
      include ../sections/index-different
      include ../sections/index-personal
      include ../sections/index-apps
      include ../sections/index-reg

    //end content
    //-include ../elements/scrollUp
    include ../sections/footer
    include ../sections/scripts
