extends ../_template

block variables
  - let title       = 'TemPeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

mixin link(link)
  li
    //a(href="http://localhost:3000/" + link + ".html" target="_blank") #{link}
    a(href="http://t-2023.odinokun.com/" + link + ".html" target="_blank") #{link}

block content
  .main-wrap
    include ../sections/headers/header-unreg
    //-include ../sections/headers/header-logout-bo
    //-include ../sections/headers/header-logout-co
    //-include ../sections/headers/header-bo
    //-include ../sections/headers/header-bo-ava
    //-include ../sections/headers/header-co
    //-include ../sections/headers/header-co-ava
    main.main
      .top-section
        .container
          .row
            .col-12.col-md-6
              ul
                +link('menu-page')
                +link('index')
                +link('01-2-about')
                +link('01-3-how-it-works')
                +link('01-4-pricing')
                +link('01-5-download-apps')
                +link('01-6-contacts')
                +link('01-7-privacy-policy')
                +link('01-11-search-no-reg')
                +link('01-12-our-sponsors')
                +link('01-13-partners')
                +link('02-1-sign-up')
                +link('02-3-profile-co-step-2')
                +link('02-4-profile-bo-step-2')
                +link('02-5-log-in')
                +link('03-1-reset')
                +link('03-1-1-reset-confirm')
                +link('03-1-1-reset-error')
                +link('03-2-reset-password')
                +link('04-1-restore')
                +link('05-1-delete')
                +link('05-2-delete-yes')
                +link('05-2-specials-delete')
                +link('06-1-profile-co')
                +link('06-1-profile-co-no-ava')
                +link('06-2-change-password')
                +link('06-3-edit-profile')
                +link('06-3-1-edit-profile-warning')
                +link('06-4-requests-co')
                +link('06-6-job-opport')
                +link('07-1-profile-bo')
                +link('07-1-profile-bo-no-ava')
                +link('07-3-1-subscr-warning')
                +link('07-4-search-co')
                +link('07-4-search-bo')
                +link('07-5-search-co')
                +link('07-6-requests-bo')
                +link('07-7-specials')
                +link('07-8-edit-profile-bo')
                +link('07-8-subscr')
                +link('07-9-job-bo')
                +link('07-9-1-job-bo-delete')
                +link('07-11-add-new-job')
                +link('07-12-edit-job')
                +link('08-1-profile-request-waiting')
                +link('08-2-profile-request-accept')
                +link('08-3-profile-request-completed')
                +link('08-4-profile-request-review')
                +link('08-5-profile-request-cancel')
                +link('08-7-profile-bo-request-waiting')
                +link('08-8-profile-bo-request-accept')
                +link('08-9-profile-bo-request-completed')
                +link('08-11-profile-bo-request-cancel')
            .col-12.col-md-6
              button.btn.btn--gradient.popup-open-btn(data-popup="direct-popup")
                span Direct popup
              br
              br
              button.btn.btn--gradient.popup-open-btn(data-popup="full-access-popup")
                span Full access popup
              br
              br
              button.btn.btn--gradient.popup-open-btn(data-popup="get-more-info-popup")
                span Get more info popup
              br
              br
              button.btn.btn--gradient.popup-open-btn(data-popup="answers-popup")
                span Answers popup
              br
              br
              button.btn.btn--gradient.popup-open-btn(data-popup="reviews-popup")
                span Reviews popup
              br
              br
              button.btn.btn--gradient.popup-open-btn(data-popup="request-popup")
                span Send request popup
    //end content
    include ../sections/bottom-sections-wrap
