extends ../_template

block variables
  - let title       = 'TemPeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    main.main
      .top-section
        .container
          button.btn.btn--gradient.popup-open-btn(data-popup="direct-popup")
            span Direct popup
          br
          br
        .container
          button.btn.btn--gradient.popup-open-btn(data-popup="full-access-popup")
            span Full access popup
          br
          br
        .container
          button.btn.btn--gradient.popup-open-btn(data-popup="get-more-info-popup")
            span Get more info popup
          br
          br
        .container
          button.btn.btn--gradient.popup-open-btn(data-popup="answers-popup")
            span Answers popup
          br
          br
        .container
          button.btn.btn--gradient.popup-open-btn(data-popup="reviews-popup")
            span Reviews popup
          br
          br


    //end content
    include ../sections/bottom-sections-wrap
