extends ../_template

block variables
  - let title       = 'TemPeak'
  - let description = 'TemPeak'

  - let breadcrumbs     = 'TemPeak breadcrumbs'
  - let headerClass = 'reddy'

block content
  .main-wrap
    main.main
      .top-section
        .container
          .row


    //end content
    include ../sections/bottom-sections-wrap
