//BEGIN full-access-wrap
#full-access-popup.popup
  .full-access.popup-body
    .popup-close-btn
      +svg('close')

    .container
      .full-access__icon
        img(src="assets/img/anim-gif/lock-closed.gif" alt="lock")
      h2.h1.full-access__title Need full access?
      h4.h4.full-access__subtitle To view all search results, <br>please login to your account or register
      .full-access__btns-wrap
        a(href="#").btn.btn--white-and-black.full-access__btn
          span Log in
        .full-access__delimeter
          span or
        a(href="#").btn.btn--gradient.full-access__btn
          span Registration

 
//END   full-access-wrap