//BEGIN request-wrap
#request-popup.popup
  .request-popup.popup-body
    .popup-close-btn
      +svg('close')

    //BEGIN request-header
    .request-header
      .container
        h1.h1.request__title Get more info
    //END   request-header

    //BEGIN request-form
    form.request-form
      .container
        .row
          //BEGIN person-row
          .person-row
            //BEGIN left
            .person-row__left
              .person-row__ava
                img(src="assets/img/persons/person-01.jpg" alt="avatar")
            //END   left

            //BEGIN main
            .person-row__main
              h3.h3.person-row__title George Smith
              //BEGIN info
              .person-row__doc-info
                span.cta RDA
                span.cta General dentist
                span.body-s.person-row__doc-info-decor |
                span.body-s Los Angeles CA
                span.body-s 5-10 years of experience
              //END   info
              //BEGIN rating
              .person-row__rating
                .person-row__rating-text.cta Rate:
                .rating(data-rating="4.8")
                  .rating__scale
                    .rating__scale-bg
                  .rating__text.cta
                    strong 4.8
                    a(href='#') (75)
              //END   rating
              //BEGIN verified
              .person-row__verified
                .person-row__verified-security-icon
                  +svg('security')
                .cta Verified
                .body-s by Tempeak
                .person-row__verified-info-icon
                  +svg('info')
                  .person-row__verified-info-tooltip
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque libero magnam obcaecati quam tempore. Doloribus ipsam itaque magni quidem similique.
              //END   verified
            //END   main
          //END   person-row
        .row
          .col-12
            .textarea
              textarea(placeholder='Add text message (optional)')
              span.input__placeholder Add text message (optional)
              span.input__error Some error text
        .row
          .col-6.col-md-3.ms-auto
            button.btn.btn--white-and-black
              span Cancel
          .col-6.col-md-3
            button.btn.btn--gradient
              span Send request
    //END   request-form
//END   request-wrap