.edit-profile {
  padding-top: 40px;
  padding-bottom: 80px;

  .input,
  .select {
    margin-bottom: 20px;
  }
}

/* begin LEFT */
.edit-profile__card-ava {
  position: relative;
  overflow: hidden;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px;

  aspect-ratio: 1 / 1;

  img {
    display: block;
    width: 100%;
    pointer-events: none;
  }
}

.edit-profile__card-ava--no-img {
  border: 1px dashed #6b6b6b;

  .tech-text-s {
    color: #6b6b6b;
  }

  .edit-profile__card-ava-text {
    .cta,
    .tech-text-s {
      color: #242424;
    }
  }
}

.edit-profile__card-ava-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background-color: rgba(0, 0, 0, .2);
  }
}

.edit-profile__card-ava-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  text-align: center;
  pointer-events: none;

  .cta {
    margin-bottom: 10px;
  }

  .cta,
  .tech-text-s {
    color: #e9e9e9;
  }
}

.edit-profile__card-ava-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #e9e9e9;
}

.edit-profile__card-ava-input {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  opacity: 0;
}

.edit-profile__card-ava-del {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(233, 233, 233, .85);

  backdrop-filter: blur(10px);

  svg {
    width: 20px;
    height: 20px;
  }
}

/* end   LEFT */

/* begin BODY */
.edit-profile__body-item {
  margin-bottom: 30px;
  padding-top: 10px;
}

.edit-profile__working-days-subtitle {
  margin-bottom: 15px;
}

.edit-profile__input-del {
  width: 20px;
  height: 20px;
  margin: 20px auto;
  cursor: pointer;

  &:hover {
    svg {
      fill: $brand;
    }
  }

  svg {
    fill: #3d3d3d;
    width: 20px;
    height: 20px;
    transition: .5s;
  }
}

.edit-profile__add-working-day {
  cursor: pointer;
  color: $brand;
}

.edit-profile__select-time {
  padding: 0;
}

.edit-profile__salary {
  padding: 20px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 12px;

  @include min(375) {
    padding: 20px;
  }
  @include min(576) {
    padding: 40px;
  }
}

.edit-profile__salary-title {
  margin-bottom: 20px;
  padding-left: 0;

  @include min(768) {
    margin-bottom: 40px;
  }
}

.edit-profile__footer {
  padding-top: 40px;

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-12:first-child {
    order: 10;

    @include min(992) {
      order: initial;
    }
  }
}

.edit-profile__footer-del {
  justify-content: flex-start;
  padding-left: 0;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

/* end   BODY */

/* begin subscribe */
.subscribe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 12px;
  background: #fff;

  @include min(375) {
    padding: 17px 13px;
  }
  @include min(768) {
    padding: 20px;
  }
}

.subscribe-item__radio-wrap {
  display: flex;
  align-items: center;
}

.subscribe-item__radio-text {
  padding-left: 10px;

  @include min(576) {
    padding-left: 20px;
  }
}

.subscribe-item__period {
  display: flex;
  align-items: baseline;
}

.subscribe-item__period-days {
  padding-left: 10px;

  @include min(576) {
    padding-left: 20px;
  }
}

.subscribe-item__period-price {
  padding-left: 10px;

  @include min(576) {
    padding-left: 20px;
  }
}

.subscribe-promo {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include min(1200) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe-promo__text {
  width: 100%;
  margin-bottom: 10px;
  padding-right: 20px;

  @include min(1200) {
    width: 50%;
    margin-bottom: 0;
  }
}

.subscribe-promo__input-wrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 2px;
  border: 2px solid #e9e9e9;
  border-radius: 12px;
  background: #fff;

  @include min(1200) {
    width: 50%;
  }

  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    width: 50%;
    padding: 5px 10px;
    color: #242424;
    border: none;
    outline: none;
    box-shadow: none;

    @include min(576) {
      padding: 5px 24px;
    }
    @include placeholder-color(#6b6b6b);
  }
}

.subscribe-promo__btn {
  width: 50%;
  height: 52px;
}

.subscribe__highlight {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;

  .h4 {
    margin-bottom: 0;
    text-align: center;
    color: #ffbd06;
  }
}

/* end   subscribe */
