.job-form {
  padding-top: 40px;
  padding-bottom: 80px;
}

.job-form__item {
  margin-bottom: 10px;

  @include min(576) {
    margin-bottom: 20px;
  }

  .calendar-input,
  .calendar-time-input,
  .calendar-input-single {
    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 23px;
      bottom: 0;
      width: 16px;
      height: 90%;
      margin: auto;
      content: '';
      pointer-events: none;
      background-color: #fff;
      background-image: url('../img/select-btn.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  .h4 {
    margin-bottom: 20px;
  }

  .input,
  .textarea,
  .select,
  .switch {
    margin-bottom: 20px;
  }

  textarea {
    min-height: 150px;
  }
}
